.navbar {
    background-color: #2e333b;
    padding: 16px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1000; 
}


.nav-left {
    display: flex;
}

.nav-left a {
    color: #cbd5e0; 
    margin: 0 16px; 
    text-decoration: none;
}

.nav-right a {
    color: #cbd5e0; 
    text-decoration: none; 
    margin: 0 25px;
}


.nav-right a:hover, .nav-left a:hover {
    color: white; 
}
