#container_Character{

    border: 1px solid #b1ee8d;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 200px 
}

#container_Character img{
     width: 100%;
     border-radius: 8px
}

#container_Character h1{
    font-size: 30px;

    color: rgb(46, 46, 3);

    font-family: "Pacifico", cursive;
    font-style: normal;

    width: 100%; /* or a fixed width like 300px */
    overflow: hidden; /* Hide overflow text */
   
    white-space: nowrap; /* Prevent text from wrapping */
    text-align: center; /* Center text */
}

#container_Character h2{
    font-size: 25px;

    color: rgb(46, 46, 3);

    font-family: "Pacifico", cursive;
    font-style: normal;

    text-align: center;
}

#container_Character p{

    text-align: center;
    font-size: 20px;
    font-weight: bold;

}

.status_alive {
    color: green; /* Change text color to red */
}

.status_dead {
    color: red; /* Change text color to red */
}

.status_unknown {
    color: gray; /* Change text color to red */
}

@keyframes swirl{

    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        transform: rotate(180deg);
        opacity: 1;
    }

    100%{
        transform: rotate(360deg);
        opacity: 1;
    }
}

.swirl {
    animation: swirl 0.5s ease-in-out;
}